.vertical--center {
  margin: 0 auto;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.vertical-center__element {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.preloader {
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  margin: 1px auto;
  background: black;
}
.preloader--top {
  top: 0;
  -webkit-animation: preloaderCSSTop 2s infinite;
          animation: preloaderCSSTop 2s infinite;
}
.preloader--top::after {
  position: absolute;
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  left: 1em;
  background: black;
  margin-left: 1px;
  -webkit-animation: preloaderCSSTopAfter 2s infinite;
          animation: preloaderCSSTopAfter 2s infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.preloader--bottom {
  top: 0;
  -webkit-animation: preloaderCSSBottom 2s infinite;
          animation: preloaderCSSBottom 2s infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.preloader--bottom::after {
  position: absolute;
  content: "";
  display: block;
  width: 1em;
  left: 1em;
  height: 1em;
  background: black;
  margin-left: 1px;
  -webkit-animation: preloaderCSSTopAfter 2s infinite;
          animation: preloaderCSSTopAfter 2s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes preloaderCSSTop {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

@keyframes preloaderCSSTop {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes preloaderCSSBottom {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@keyframes preloaderCSSBottom {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes preloaderCSSTopAfter {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@keyframes preloaderCSSTopAfter {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes preloaderCSSBottomAfter {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@keyframes preloaderCSSBottomAfter {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
