html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.2;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

/*{Хлебные крошки}*/
.prc-breadcrumbs {
  font-size: 14px;
  min-height: 25px;
  padding: 0 15px 10px 0;
}
.prc-breadcrumbs__phase {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .3s linear;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  color: #7f7f7f;
}
.prc-breadcrumbs__phase:hover {
  border-bottom-color: #7f7f7f;
}
.prc-breadcrumbs__phase--focus {
  color: #2067b0;
  font-weight: bold;
}
.prc-breadcrumbs__phase--focus:hover {
  border-bottom-color: #2067b0;
}
.prc-breadcrumbs__separator {
  background-image: url(../i/live_feed_sprite_6.png);
  background-repeat: no-repeat;
  background-position: 0 -78px;
  display: inline-block;
  width: 10px;
  height: 17px;
  margin: 0 5px;
  vertical-align: top;
}
[data-view="deal"] .view-deal {
  display: none;
}

/*{Вывод ошибок}*/
.prc-errors {
  display: none;
  font-size: 14px;
  color: #5e6675;
  background-color: #fee7e7;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.prc-errors:before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../i/media.png');
  background-repeat: no-repeat;
  background-position: 0 -232px;
  float: left;
  margin-right: 10px;
}
.prc-errors__info {
  overflow: hidden;
  margin: 0;
}



/*{Фаза 1}*/
.task-options {
  margin: 6px 0 15px;
  padding: 0 5px;
  background-color: #f8f9fa;
}

/*{Ответственный и Постановщик}*/
.task-options-item {
  position: relative;
  padding: 11px 30px 11px 0;
  margin: 0 20px;
}
.task-options-item + .task-options-item {
  border-top: 1px solid #e6e9ec;
}
.task-options-item-param {
  float: left;
  margin: 11px 4px 11px 0;
  color: #5e6675;
  font-size: 14px;
  text-align: left;
  padding-right: 10px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 130px;
}
.task-options-item-open-inner {
  vertical-align: middle;
  display: inline-block;
}
.task-form-field {
  position: relative;
  min-width: 200px;
  background-color: white;
  min-height: 33px;
  border: 1px solid #c6cdd3;
  padding: 5px 5px 0 5px;
  display: inline-block!important;
}
.task-form-field-item {
  transition: background-color .2s linear;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  height: 30px;
  position: relative;
  line-height: 30px;
  margin: 0 5px 5px 0;
  background-color: #bcedfc;
}
.task-form-field-item-text {
  padding: 0 0 0 10px;
  display: inline-block;
  max-width: 1000px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  color: #1f6ab5;
  transition: border-bottom-color .2s linear;
}
.task-form-field-item-delete {
  width: 25px;
  height: 30px;
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: auto;
}
.task-form-field-item-delete:after {
  content: '';
  background-image: url('../i/media.png');
  background-repeat: no-repeat;
  background-position: -2px -17px;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto auto 7px;
  opacity: .2;
}
.task-form-field-controls {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  height: 30px;
  position: relative;
  line-height: 30px;
  margin: 0 5px 5px 0;
}
.task-form-field-link {
  border-bottom: 1px solid transparent;
  color: #2067b0;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  margin: 7px 7px 7px 18px;
  line-height: 17px;
  vertical-align: top;
  position: relative;
  transition: border-bottom-color .2s linear;
  text-decoration: none;
}
.task-form-field-link:before {
  content: '';
  background-image: url('../i/crest.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 8px;
  left: -14px;
  position: absolute;
  top: 5px;
  width: 8px;
}
.task-form-field-link:hover {
  border-bottom: 1px solid;
}

/**/
.task-options-item-more {
  display: inline-block;
}
.task-options-destination-wrap {
  min-height: 35px;
  display: inline-block;
  vertical-align: middle;
  min-width: 191px;
  max-width: none;
  margin: 0 10px 0 0;
  width: auto;
  position: relative;
  border: 1px solid #c6cdd3;
  border-radius: 2px;
  padding: 5px 5px 0;
  background-color: #fff;
}
.task-options-destination-wrap:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 15px;
  background-image: url('../i/media.png');
  background-repeat: no-repeat;
  background-position: 0 -269px;
  right: 6px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  opacity: .7;
}
.task-options-inp-container {
  width: 100%;
  height: 38px;
  border: 0;
  position: absolute;
  margin: -4px -5px 0;
  line-height: 36px;
  background-color: #fff;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
}


.task-options-inp {
  padding-right: 32px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  font-size: 15px;
  border: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 0 8px;
  background-color: transparent;
  z-index: 2;
  outline: 0;
  color: #535c69;
  cursor: pointer;
}

/*{Название задачи}*/
.task-title {
  border-bottom: 1px solid #edeef0;
  padding: 15px 25px 15px 9px;
}
.task-title__input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 19px;
  line-height: 32px;
}

/*{Описание задачи}*/
.task-info-editor {
  background-color: #fff;
}
.feed-add-post-form {
  margin-bottom: 12px;
  position: relative;
  zoom: 1;
}
.feed-add-post-text {
  color: #bfbfbf;
  font-size: 17px;
  padding: 15px 10px 0 10px;
}
.bx-html-editor {
  border: 1px solid;
  border-color: #bbc4cd;
  overflow: hidden;
  position: relative;
  z-index: 30;
  border-style: none!important;
  background-color: #fff;
  width: 100%;
  height: 100px;
  min-width: 350px;
  min-height: 100px;
}
.bxhtmled-area-cnt {
  position: absolute;
  left: 0;
  z-index: 100;
  top: 0px;
  width: 998px;
  height: 100px;
}
.bxhtmled-iframe-cnt {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF!important;
  overflow: auto!important;
  width: 995px;
  height: 100px;
}
.bx-editor-iframe {
  width: 100%;
  height: 100%;
  -moz-box-sizing: content-box;
  background-color: transparent;
  border-collapse: separate;
  border-style: none;
  border-width: 0;
  bottom: auto;
  box-shadow: none;
  clear: none;
  display: block;
  float: none;
  left: auto;
  margin: 0;
  outline: 0 none #000;
  outline-offset: 0;
  position: static;
  right: auto;
  text-align: start;
  top: auto;
  vertical-align: text-bottom;
  z-index: auto;
  line-height: 2px!important;
}
.bxhtmled-textarea-cnt {
  width: 995px;
  height: 100px;
  top: 0px;
  left: 0px;
  position: absolute;
}
.bxhtmled-textarea {
  width: 100%!important;
  height: 100%!important;
  min-height: none!important;
  max-height: none!important;
  background-color: #fefefe!important;
  color: #000!important;
  cursor: text!important;
  font-family: Verdana!important;
  font-size: 11px!important;
  font-style: normal!important;
  font-variant: normal!important;
  font-weight: 400!important;
  letter-spacing: normal!important;
  line-height: 15px!important;
  text-align: start!important;
  text-decoration: none!important;
  text-indent: 0!important;
  text-rendering: optimizelegibility!important;
  word-break: normal!important;
  word-spacing: 0!important;
  word-wrap: break-word!important;
  resize: none!important;
  outline: 0 none #000!important;
  outline-offset: 0!important;
  border-collapse: separate!important;
  border-style: none!important;
  border-width: 0!important;
  padding: 5px 0 0 5px!important;
  box-sizing: border-box!important;
  box-shadow: none!important;
  border-radius: 0!important;
}

/*{Добавление файлов}*/
.diskuf-extended {
  line-height: normal;
  position: relative;
}
.wd-fa-add-file-light-table {
  border: 0;
  border-spacing: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
.diskuf-selector {
  border: 0;
  padding-top: 10px;;
  background-color: #f8fafa;
  height: 76px;
  vertical-align: middle;
  width: 50%;
  position: relative;
  overflow: hidden;
}
.diskuf-uploader {
  zoom: 1;
  position: relative;
}
.wd-fa-add-file-light {
  display: block;
}
.wd-fa-add-file-light-text {
  border: 2px dashed transparent;
  padding: 14px 0 0;
  transition: border-color .2s linear;
  min-height: 50px;
  display: block;
  margin: 0 10px;
  position: relative;
}
.diskuf-selector:hover .wd-fa-add-file-light-text {
  border-color: #a7b0b5;
}
.wd-fa-add-file-light-title {
  display: block;
  color: #0b66c3;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.wd-fa-add-file-light-descript {
  color: #8a8b8b;
  display: block;
  font-size: 12px;
  text-align: center;
}
.diskuf-fileUploader {
  outline: 0;
  left: 0;
  font-size: 320px!important;
  height: 100px!important;
  right: 0!important;
  opacity: 0!important;
  position: absolute!important;
  top: -20px!important;
  cursor: pointer!important;
}
.diskuf-fileUploader span {
  display: none;
}
.ajax-upload-dragdrop,
.ajax-file-upload {
  width: 100% !important;
  height: 100% !important;
}
.ajax-file-upload-container {
  margin-top: 10px;
  background-color: #fff;
}
.ajax-file-upload-abort {
  color: #333;
}

/**/
.ajax-file-upload-statusbar {
  width: 100% !important;
  color: #2067b0;
  font-size: 13px;
  line-height: 1.8;
}
.ajax-file-upload-filename,
.ajax-file-upload-cancel {
  display: inline-block;
}
.ajax-file-upload-cancel {
  background-image: url('../i/wduf-sprite.png');
  background-repeat: no-repeat;
  background-position: center -44px;
  cursor: pointer;
  display: inline-block;
  margin-top: -3px;
  height: 24px;
  width: 24px;
  text-indent: 9999px;
}


/*{Кнопка}*/
.tasks-form-footer-container {
  position: relative;
  text-align: left;
  margin-top: 20px;
}
.webform-small-button {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  outline: 0;
  padding: 0 18px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  white-space: nowrap;
  transition: background-color .2s linear,color .2s linear;
  border: 0;
  height: 39px;
  line-height: 39px;
  margin: 0 12px 0 0;
  box-sizing: border-box;
  background-color: #bbed21;
  box-shadow: none;
  color: #535c69;
}
.webform-small-button:hover {
  background-color: #d2f95f;
  color: #535c69;
}
.webform-small-button-text {
  border: 0;
  display: inline;
  height: auto;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none!important;
  text-transform: uppercase;
  padding: 0;
  transition: color .25s linear;
  vertical-align: top!important;
  cursor: pointer;
  text-decoration: none!important;
  outline: 0;
  line-height: 39px;
  box-shadow: none;
  color: #535c69;
}
.webform-button-link {
  font-size: 12px;
  line-height: 39px;
  transition: background .5s ease;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #535b69;
  border: 0;
  position: relative;
  height: 39px;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}


/*{Фаза 2}*/

.tasktitle {
  color: #2067b0;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .5s;
}
.tasktitle:hover {
  border-bottom-color: #2067b0;
}


/*{Кнопка Таскать}*/
.divi {
  display: block;
  width: 13px;
  height: 20px;
  position: relative;
  top: 2px;
  background-image: url(../i/menu-sprite.svg);
  background-repeat: no-repeat;
  background-position: 3px -329px;
  background-size: cover;
  cursor: move;
  transition: opacity .3s;
  z-index: 1;
}


/*{Кнопка Удалить строку}*/
.webform-small-button-separate-wrap1 {
  display: inline-block;
  height: 39px;
  vertical-align: middle;
  border-radius: 0;
  box-shadow: none;
  padding-right: 0;
  font-size: 0;
  position: relative;
  margin: 0 19px 0 0;
}
.webform-small-button1 {
  background-color: #ecedef;
  box-shadow: 0 0 0 1px #c6cdd3 inset;
  border-radius: 2px;
  cursor: pointer;
  color: #7a818a;
  display: inline-block;
  height: 47px;
  line-height: 47px;
  margin: 0 16px 0 0;
  font-size: 12px;
  outline: 0;
  padding: 0 18px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  white-space: nowrap;
  transition: background-color .2s linear, color .2s linear;
  border: 0;
  height: 39px;
  line-height: 39px;
  margin: 0 12px 0 0;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0;
  vertical-align: top;
  font-weight: bold;
}
.webform-small-button-blue1 {
  background-color: #3bc8f5;
  box-shadow: none;
  color: #fff;
}
.webform-small-button-blue1:active {
  background-color: #13b1e3!important;
  color: #fff;
}
.webform-small-button-blue1:hover {
  background-color: #3fddff;
  color: #fff;
}
.quote {
  display: none;
}
.counter__control {
  color: #1f6ab5;
  font-weight: bold;
  font-size: 15px;
  background-color: #fff;
  border: 0;
  outline: 0;
}
.tdfull input {
  min-width: 310px;
}

.superblock input,
.phase2table input {
  border: 1px solid rgba(83,92,105,.2);
  border-radius: 2px;
  padding: 3px 8px;
  height: 30px;
  font-size: 14px;
  transition: border-color .5s;
}
.superblock input:focus,
.phase2table input:focus {
  border: 1px solid rgba(81,203,238,1);
  outline-color: transparent;
}

.time {
  width: 20px;
  text-align: center;
}

button,
[role="button"] {
  cursor: pointer;
}
[role="button"] {
  padding: 0 0 0 10px;
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  color: #1f6ab5;
  transition: border-bottom-color .2s linear;
}


/*{Фаза 3}*/
.prc-header {
  display: flex;
  justify-content: flex-end;
  /*justify-content: space-between;*/
  align-items: center;
  width: 1080px;
  font-size: 14px;
}
.prc-header__detail {
  /*font-size: 20px;*/
  padding-left: 1px;
}
.prc-header__deal,
.prc-header__user {
  font-size: 20px;
  color: #2067b0;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.5s;
}
.prc-header__deal:hover,
.prc-header__user:hover {
  border-bottom-color: #2067b0;
}
.prc-welldone,
.prc-footer {
  max-width: 960px;
}
.prc-welldone__table,
.prc-footer__table {
  width: 100%;
  border: 0;
  margin-top: 5px;
}
.prc-welldone__table td,
.prc-footer__table td {
  text-align: center;
}
.prc-welldone__table th,
.prc-footer__table th {
  font-size: 14px;
}
.prc-welldone__table th,
.prc-footer__table th,
.prc-welldone__table td,
.prc-footer__table td {
  border: 0;
}
.prc-welldone__table.disable .prc-welldone__detail,
.prc-footer__table.disable .prc-welldone__detail,
.prc-welldone__table.disable .no-event,
.prc-footer__table.disable .no-event,
.prc-welldone__table.disable td,
.prc-footer__table.disable td {
  pointer-events: none;
  opacity: .5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.prc-welldone__title,
.prc-footer__title {
  display: flex;
  align-items: center;
}
.prc-welldone__toggle,
.prc-footer__toggle {
  width: 15px;
  height: 15px !important;
  margin-right: 5px;
}
.prc-welldone__detail,
.prc-footer__detail {
  padding-left: 1px;
  font-size: 14px;
}
.prc-welldone__task,
.prc-footer__task,
.prc-welldone__user,
.prc-footer__user {
  color: #2067b0;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.5s;
}
.prc-welldone__task:hover,
.prc-footer__task:hover,
.prc-welldone__user:hover,
.prc-footer__user:hover {
  border-bottom-color: #2067b0;
}
.prc-input {
  border: 1px solid rgba(83,92,105,0.2);
  border-radius: 2px;
  padding: 3px 8px;
  height: 30px;
  font-size: 14px;
  transition: border-color 0.5s;
}
.prc-input:focus {
  border: 1px solid #51cbee;
  outline-color: transparent;
}
.prc-input__number {
  width: 70px;
  text-align: center;
}
.prc-input__rate {
  margin: 0 3px;
  width: 100px;
  text-align: center;
}
.prc-input.total {
  width: 100px;
}
.prc-itogo-total {
  text-align: right;
  opacity: 1;
}
.prc-input.text {
  width: 580px;
}
.prc-input[readonly] {
  pointer-events: none;
  opacity: .5;
}
.prc-footer {
  width: 960px;
}
.prc-footer input[readonly]:not(.prc-input__rate) {
  border: 0;
  pointer-events: none;
  opacity: 1;
}
.flex {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}


/*{Чьё-то ещё}*/
.counter {
  width: 90px;
  margin: auto;
}

.js-task, .js-message {
  width: 95%
}

.delete-line {
  margin: 0 0 0 30% !important;
}

.phase2table {
  width: 100%;
}

.js-time-all {
  text-align: center;
}

.js-title-error {
  font-size: small;
  color: red;
}